/NumberAddition/nbproject/private/
/NumberAddition/build/
/NumberAddition/dist/
/ImageDisplayApp/nbproject/private/
/ImageDisplayApp/build/
/ImageDisplayApp/dist/
/ContactEditor/nbproject/private/
/ContactEditor/build/
/ContactEditor/dist/
/CourseMarkGUI/nbproject/private/
/CourseMarkGUI/build/
/CourseMarkGUI/dist/
